---
layout: default
---

<div class="header">
    <h1>{{ site.title }}<h2>(a.k.a. @ertseyhan)</h2></h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            {% if site.show_icons == true %}
                <a href="{{ item.url }}" target="_blank"><i class='fa {{ item.icon }}' style="color:black"></i></a>
            {% else %}
                <a href="{{ item.url }}" target="_blank"></i>{{ item.title }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

{% include about.html %}

<div class="blog">
    <h1>Yazılarım:</h1>
    <div class="date">
        <ul>
            {% for post in site.posts %}
            <li>
                <span class="date">
                    {% assign m = post.date | date: "%-m" %}
                    {{ post.date | date: "%d" }}
                        {% case m %}
                            {% when '1' %}Oca
                            {% when '2' %}Şub
                            {% when '3' %}Mar
                            {% when '4' %}Nis
                            {% when '5' %}May
                            {% when '6' %}Haz
                            {% when '7' %}Tem
                            {% when '8' %}Ağu
                            {% when '9' %}Eyl
                            {% when '10' %}Eki
                            {% when '11' %}Kas
                            {% when '12' %}Ara
                        {% endcase %}
                    {{ post.date | date: "%Y" }}
                    </span> - <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="lastedit">
    Son güncelleme: <a href="{{ site.github.repository_url }}/commit/{{ site.github.build_revision }}">{{ site.github.build_revision }}</a>
</div>

{% if site.github_ribbon == true %}
    {% include ribbon.html %}
{% endif %}