---
layout: default
---

{% capture formatted_date %}
    {% assign m = page.date | date: "%-m" %}
    {{ page.date | date: "%d" }}
        {% case m %}
            {% when '1' %}Ocak
            {% when '2' %}Şubat
            {% when '3' %}Mart
            {% when '4' %}Nisan
            {% when '5' %}Mayıs
            {% when '6' %}Haziran
            {% when '7' %}Temmuz
            {% when '8' %}Ağustos
            {% when '9' %}Eylül
            {% when '10' %}Ekim
            {% when '11' %}Kasım
            {% when '12' %}Aralık
        {% endcase %}
    {{ page.date | date: "%Y" }}
{% endcapture %}

<div class="post">
    <a class="post__back" href="/">&lt;-- geri dön</a>
    <h1 class="post__title">{{ page.title }}</h1>
    <p class="post__date">
        {{ formatted_date }}
    </p>
    <p class="post__meta">{{ tags_content }}</p>
    <div class="post__content"?>
        {{ content }}
    </div>
    <div class="footer">
        <div class="contact">
            <p>
                <a href="mailto:hi@ertugrulseyhan.com">Ertuğrul Seyhan</a> tarafından {{ formatted_date }} tarihinde yazıldı.
            </p>
        </div>
    </div>

    {% if site.enable_disqus == true %}
        {% include disqus.html %}
    {% endif %}
</div>