---
layout: default
---

{% capture formatted_date %}
    {% assign m = page.date | date: "%-m" %}
    {{ page.date | date: "%d" }}
        {% case m %}
            {% when '1' %}Ocak
            {% when '2' %}Şubat
            {% when '3' %}Mart
            {% when '4' %}Nisan
            {% when '5' %}Mayıs
            {% when '6' %}Haziran
            {% when '7' %}Temmuz
            {% when '8' %}Ağustos
            {% when '9' %}Eylül
            {% when '10' %}Ekim
            {% when '11' %}Kasım
            {% when '12' %}Aralık
        {% endcase %}
    {{ page.date | date: "%Y" }}
{% endcapture %}

<div class="post">
    <a class="post__back" href="/">&lt;-- geri dön</a>
    <h1 class="post__title">{{ page.title }}</h1>

    <div class="post__date">
        {% assign words = content | number_of_words %}
        {% if words < 360 %}
            {{ formatted_date }} tarihinde paylaşılan bu yazı bir dakikadan az bir sürede okunabilir.
        {% else %}
            {{ formatted_date }} tarihinde paylaşılan bu yazıyı ortalama {{ words | divided_by:180 }} dakikada okuyabilirsiniz.
        {% endif %}
    </div>

    <p class="post__meta">{{ tags_content }}</p>
    <div class="post__content"?>
        {{ content }}
    </div>

    <div class="footer">
        <br>
            {{ site.author.name }} tarafından {{ formatted_date }} tarihinde yazıldı.
        </br>

        <div class="share">
            <p>
                <h3>Paylaş</h3>
                <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>
                <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on LinkedIn">LinkedIn</a>
                <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
                <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">Google+</a>
            </p>
            <br>
        </div>
    </div>

    {% if site.enable_disqus == true %}
        {% include disqus.html %}
    {% endif %}
</div>